body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;

}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 60vw;
}

#header-img{
    width: 300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    
}

#nav-bar{
    font-weight: 400px;
    width: 40vw;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}

.nav-link{
    color: black;
    text-decoration: none;
}

#hero, #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero input[type="email"]{
    max-width: 275;
    min-width: 100px;
    width: 275px;
    height: 30px;
    margin-bottom: 10px;
}

#hero input[type="submit"]{
    max-width: 150px;
    width: 100%;
    height: 30px;
    background-color: #f1c40f;
    border: none;
    font-weight: 900;
    font-size: 1em;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 0;
    padding: 0;
}


.grid{
    display: flex;
    flex-direction: row;
    
}

.icon{
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.fa-solid{
    color: darkorange;
    font-size: 50px;
}

.container{
    margin: auto;
    width: 50%;
    padding: 10px;
}
footer{
    color:rgb(253, 243, 229) ;
    background-color:lightgrey;
    text-align: end;
    
}
button{
    background-color: #f1c40f;
    position: relative;
    border:none;
    text-align: center;
}
.product{
    border-style: solid;
    border-width: thin;
    width:200px;
}
.final{
    word-spacing:1px;
    color: black;
    text-align: left;
    word-spacing:0%;

}
.level{
    background-color: lightgrey;
    text-align: center;
}
h2{
    text-align: center;
}
.btn{
    text-align: center;
    top: 50%;
    left: 70px;
}

